@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Montserrat';
    background-color: #5A65C5;
    font-size: 1rem;
    margin: auto;
    font-size: 20px;
}

