

.footer-container{
    height: 7rem;
    margin-top: 10rem;
    text-align: center;
    color: white;
    background-color: rgb(20, 66, 106);
}

.brand {
    font-weight: 700;
    font-size: 1.2rem;
    padding: 2.7rem;
}